﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-xs-3" id="q1">
        <img src="~/Content/tumble.png" class="img-responsive" id="tumbler" />
    </div>
    <div class="col-xs-3" id="q2">
    </div>
    <div class="col-xs-3" id="q3">
    </div>
    <div class="col-xs-3" id="q4">
    </div>
</div>
<div class="row">
    <div class="col-xs-3 tumbleLink" id="firstQuarter">
        Click here
    </div>
    <div class="col-xs-3 tumbleLink" id="secondQuarter">
        And here
    </div>
    <div class="col-xs-3 tumbleLink" id="thirdQuarter">
        Here too!
    </div>
    <div class="col-xs-3 tumbleLink" id="fourthQuarter">
        Not here jk
    </div>
</div>

<!-- Add a Flipbook using turn.js here -->

<p>Content</p>
<p>More Content</p>
<img src="http://www.drodd.com/images15/memes17.jpg" class="img-responsive img-circle" />
<h1>Here's a header!</h1>

@section animation {
    <script type="text/javascript">
        var stickTo = "firstQuarter";
        var startAngle = 0;

        $(function () {
            $("#tumbler").css("position", "relative").css("left", "0px");
            thingy = $("#tumbler").css("left");
        });

        $(".tumbleLink").click(function () {
            stickTo = $(this).attr("id");
            var diff = calculateStuff(stickTo);
            getAlongLittleDoggie(diff);

            $(".tumbleLink").animate({ color: "#000" }, 500);
            $(this).animate({ color: "#F60" }, 500);

        });

        $(window).resize(function () {
            var diff = calculateStuff(stickTo);
            getThereNowDoggie(diff);
        });

        function calculateStuff(id) {
            var leftPad = $("#" + id).css("padding-left");
            var leftPadNumber = Number(leftPad.slice(0, -2));

            var bodyMargin = $(".body-content").css("margin-left");
            var bodyMarginNumber = Number(bodyMargin.slice(0, -2));

            var linkPos = $("#" + id).position().left + leftPadNumber - bodyMarginNumber;
            var tumblePos = $("#tumbler").position().left;

            return linkPos - tumblePos;
        }

        function getThereNowDoggie(pos) {
            $("#tumbler").css("left", "+=" + pos + "px");
        }

        function getAlongLittleDoggie(pos) {
            var rotAngle;
            if (pos >= 0) {
                rotAngle = 360;
            }
            else {
                rotAngle = -360;
            }

            $("#tumbler").animate({ left: "+=" + pos + "px" }, 1000)
                .rotate({
                    angle: startAngle,
                    center: ["40%", "50%"],
                    animateTo: startAngle + rotAngle,
                    duration: 1200
                });

            startAngle += rotAngle;
        }
    </script>
}