﻿
@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>
<p>Ever get tired of translating roman numerals? Not anymore! Behold:</p>
<p>@Html.ActionLink("Translate a Number into a Numeral", "TranslateToNumeral")</p>
<p>@Html.ActionLink("Translate a Numeral into a Number", "TranslateToNumber")</p>


