﻿@model AnExercise.BLL.Numeral

@{
    ViewBag.Title = "Translate";
}

<h2>Translate Number to Numeral</h2>
@using(Html.BeginForm())
{
    <div class="form-group">
        @Html.TextBox("num", null, null, new { @class = "form-control", type = "number" })
        <input type="submit" class="btn btn-primary" value="Translate" />
    </div>
}

@Html.DisplayFor(m => m.NumString)

<p>@Html.ActionLink("Translate a Numeral to a Number", "TranslateToNumber")</p>