﻿@model AnExercise.BLL.Numeral

@{
    ViewBag.Title = "Translate";
}

<h2>Translate Numeral to Number</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.TextBox("str", null, null, new { @class = "form-control" })
        <input type="submit" class="btn btn-primary" value="Translate" />
    </div>
}

@Html.DisplayFor(m => m.Value)

<p>@Html.ActionLink("Translate a Number to a Numeral", "TranslateToNumeral")</p>
