﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="Scripts/angular.min.js"></script>
</head>
<body>
    <div ng-app="nameApp" ng-controller="nameCtrl">
        <div id="namesContainer">
            <h3>All the Names:</h3>
            <p ng-repeat="x in names | orderBy">{{x}}</p>
            <button ng-click="getAll()">Get Names</button>
        </div>
        <div id="nameContainer">
            <h3>Just one name:</h3>
            <input type="number" min="0" ng-model="getId" />
            <button ng-click="getMe()">Get By Id</button>
            <p>{{getName}}</p>
        </div>
        <div id="changeNameContainer">
            <h3>Change a name:</h3>
            <p>Change which name? <input type="number" min="0" ng-model="putId" /></p>
            <p>Change to what? <input type="text" ng-model="putName" /></p>
            <button ng-click="putMe()">Change Name</button>
            <p>{{putResponse}}</p>
        </div>
        <div id="addNameContainer">
            <h3>Add a name:</h3>
            <p>Name to Add: <input type="text" ng-model="postName" /></p>
            <button ng-click="postMe()">Add Name</button>
            <p>{{postResponse}}</p>
        </div>
        <div id="addNameContainer">
            <h3>Delete a name:</h3>
            <p>Delete which name? <input type="number" min="0" ng-model="delId" /></p>
            <button ng-click="delMe()">Delete Name</button>
            <p>{{delResponse}}</p>
        </div>
    </div>
    <script>
        var app = angular.module("nameApp", []);
        app.controller("nameCtrl", function ($scope, $http) {
            $scope.getId = 0;
            $scope.putId = 0;
            $scope.putName = "Joe";

            //GET all - getAll()
            $scope.getAll = function () {
                $http.get("api/Name")
                    .then(function (response) {
                        $scope.names = response.data;
                    }, function (response) {
                    });
            }
            //GET id - getMe(id)
            $scope.getMe = function () {
                $http.get("api/Name/" + $scope.getId)
                    .then(function (response) {
                        $scope.getName = response.data;
                    }, function (response) {
                        $scope.getName = "Something Happened...";
                    });
            }
            //POST name - postMe(name)
            $scope.postMe = function () {
                $http.post("api/Name/", { value: $scope.postName })
                    .then(function (response) {
                        $scope.postResponse = response.data;
                    }, function (response) {
                        $scope.postResponse = "Something Happened...";
                    });
            }
            //PUT id, name - putMe(id, name)
            $scope.putMe = function () {
                $http.put("api/Name/" + $scope.putId, { value: $scope.putName })
                    .then(function (response) {
                        $scope.putResponse = response.data;
                    }, function (response) {
                        $scope.putResponse = "Something Happened...";
                    });
            }
            //DELETE id - delMe(id)
            $scope.delMe = function () {
                $http.delete("api/Name/" + $scope.delId)
                    .then(function (response) {
                        $scope.delResponse = response.data;
                    }, function (response) {
                        $scope.delResponse = "Something Happened...";
                    });
            }
        });
    </script>
</body>
</html>