﻿<!-- Created by Kyle Johnson on 6/22/2017 -->
<!-- Mock Data provided by Mockaroo -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Angular Practice!</title>
    <script src="Scripts/angular.min.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-xs-4"></div>
        <div ng-app="myApp" ng-controller="myCtrl" class="form-group col-xs-4">
            <p>Input name: <input type="text" ng-model="name" class="form-control" /></p>
            <p>Your name is: {{name}}</p>
            <button ng-click="becomeRay()" class="form-control">Become Ray Nigiri</button>
            <button ng-click="becomeSomeone()" class="form-control">Become Someone Else</button>
        </div>
        <div class="col-xs-4"></div>
    </div>

    <script>
        var myapp = angular.module("myApp", []);
        myapp.controller("myCtrl", function ($scope, $http) {
            $http.get("Data/names.json")
                .then(function (response) {
                    $scope.myData = response.data;
                }, function (response) {
                    $scope.myData = [{ first_name: "Whoopsie", last_name: "Daisy" }];
                });

            $scope.name = "Joe Maki";
            $scope.becomeRay = function () {
                $scope.name = "Ray Nigiri";
            }

            $scope.becomeSomeone = function () {
                var randomPick = Math.floor(Math.random() * $scope.myData.length);
                var person1 = $scope.myData[randomPick];
                randomPick = Math.floor(Math.random() * $scope.myData.length);
                var person2 = $scope.myData[randomPick];
                $scope.name = person1.first_name + " " + person2.last_name;
            }
        });
    </script>
    <script src="Scripts/bootstrap.min.js"></script>
</body>
</html>